.forms-field {
  width: 100%;
}
.input-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.input-right-align {
  text-align: right;
}

input.input-right-align::-webkit-outer-spin-button,
input.input-right-align::-webkit-inner-spin-button {
  display: none;
}

input.input-right-align {
  -moz-appearance: textfield;
}

.actions {
  margin-top: 1rem;
}
