<h3>Some Forms</h3>
<form>
  <mat-grid-list
    rowHeight="100px"
    gutterSize="20"
    [cols]="currentScreenSize > 2 ? 3 : 1"
  >
    <mat-grid-tile>
      <mat-form-field class="forms-field" appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select required name="option" [(ngModel)]="form.option">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
        <mat-hint>Put your name</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="currentScreenSize > 2 ? 2 : 1">
      <mat-form-field class="forms-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="A Name"
          name="name"
          [(ngModel)]="form.name"
          required
        />
        <mat-hint>Put your name</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="forms-field" appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input
          [(ngModel)]="form.amount"
          name="amount"
          matInput
          type="number"
          class="input-right-align"
          placeholder="0"
          required
        />
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-hint>Put a price</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="forms-field" appearance="fill">
        <mat-label>Extra</mat-label>
        <input
          [(ngModel)]="form.extra"
          name="extra"
          matInput
          placeholder="Some extra"
          required
        />
        <mat-hint>Put your extra</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="forms-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          required
          [(ngModel)]="form.password"
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>Put your password</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="actions">
    <button (click)="executeForm(form)" mat-raised-button color="accent">
      Submit
    </button>
  </div>
</form>
<h4 id="result">
  {{ optionTitle }} | {{ nameTitle }} | {{ amountTitle }} | {{ extraTitle }} |
  {{ passwordTitle }}
</h4>
