.db-table-container {
  h1 {
    margin: 0;
    span {
      color: rgb(1, 87, 155);
    }
  }

  .db-table-body {
    margin-top: 2rem;
  }

  .example-table-container {
    overflow: auto;
    width: 100%;
    table {
      min-width: 100%;
      th,
      td {
        min-width: 80px;
        padding-left: 30px;
      }
    }
  }
}

.show-table-header {
  .separator {
    flex: 1 0;
  }
  display: flex;
  gap: 0.5rem;
}

.error-display {
  margin: 1rem 0;
  background-color: rgba(255, 171, 16, 0.596);
  padding: 0.5rem;
  border-radius: 0.25rem;
  h5 {
    margin: 0;
    font-size: 16px;
  }
}
