.full-width {
  width: 100%;
}

h1 {
  margin-top: 0;
  color: rgb(1, 87, 155);
  font-size: 1.5em;
}

.result {
  .result-text-area {
    min-height: 200px;
  }
}

.error-display {
  margin: 1rem 0;
  background-color: rgba(255, 171, 16, 0.596);
  padding: 0.5rem;
  border-radius: 0.25rem;
  h5 {
    margin: 0;
    font-size: 16px;
  }
}
